---
import Donate from "@components/Donate.astro";
import Page from "@layouts/Page.astro";
import { formatIssue, getIssues } from "@utils/issues";

const issues = await getIssues();
---

<Page>
  <h1>astrology council zine</h1>

  <h2>read ☟</h2>

  <ol>
    {
      issues.map((issueId) => (
        <li>
          <a href={`/${issueId}/001`}>{formatIssue(issueId)}</a>
        </li>
      ))
    }
  </ol>

  <h2>donate ☟</h2>

  <Donate />
</Page>
