---
import Donate from "@components/Donate.astro";
import Issues from "@components/Issues.astro";
import Page from "@layouts/Page.astro";
---

<Page>
  <h1>astrology council zine</h1>

  <h2>read ☟</h2>

  <Issues />

  <h2>donate ☟</h2>

  <Donate />
</Page>
