---
import Page from "@layouts/Page.astro";
import { formatIssue, getIssues } from "@utils/issues";

const issues = await getIssues();
---

<Page>
  <h1>astrology council zine</h1>

  <h2>read ☟</h2>

  <ol>
    {
      issues.map((issueId) => (
        <li>
          <a href={`/${issueId}`}>{formatIssue(issueId)}</a>
        </li>
      ))
    }
  </ol>

  <script>
    import { sdk } from "@farcaster/miniapp-sdk";

    await sdk.actions.ready();
  </script>
</Page>
