---
import "@styles/global.css";
import { ClientRouter, fade } from "astro:transitions";

const embed = {
  version: "1",
  imageUrl: "https://zine.astrologycouncil.org/opengraph-image.jpg?v=2",
  button: {
    title: "Read the Zine",
    action: {
      type: "launch_miniapp",
      name: "Zine",
    },
  },
};

const backgroundColor = `bg-[${Astro.props.backgroundColor ?? "#ffffff"}]`;
const proseModifiers = (Astro.props.proseModifiers ?? [])
  .map((m: string) => `prose-${m}`)
  .join(" ");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="fc:miniapp" content={JSON.stringify(embed)} />
    <title>Zine</title>
    <ClientRouter />
  </head>
  <body class={backgroundColor}>
    <main>
      <article
        class={`prose ${proseModifiers} mx-auto p-8 pb-20`}
        transition:animate={fade({ duration: "300ms" })}
      >
        <slot />
      </article>
    </main>
    <slot name="navigation" />
  </body>
</html>
